src/main/mule/flujosprincipales.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
	http://www.mulesoft.org/schema/mule/db 			http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
	http://www.mulesoft.org/schema/mule/core 		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
	http://www.mulesoft.org/schema/mule/db 			http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
	http://www.mulesoft.org/schema/mule/http		http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<!-- Configuration http_lisener -->
	<http:listener-config name="http_config_listener" basePath="api">
		<http:listener-connection host="localhost" port="8083" />
	</http:listener-config>
	
	<!-- Configuration Database_connect_Oracle -->
	<db:config name="database_Oracle">
		<db:oracle-connection host="localhost" port="1521" user="R0TV1C" password="12345" serviceName="xe"/>
	</db:config>
	
	<!-- Flow Select -->
	<flow name="flujo_SELECT">
		<http:listener config-ref="http_config_listener" allowedMethods="GET" path="select" >
			<http:response statusCode="200" reasonPhrase="Ok">
				<http:body >#[output application/json --- payload]</http:body>
			</http:response>
		</http:listener>
		<db:select config-ref="database_Oracle">
			<db:sql>SELECT * FROM USUARIOS WHERE CVE_USUARIO = :cve_usuario</db:sql>
			<db:input-parameters>#[{'cve_usuario' : payload.CVE_USUARIO}]</db:input-parameters>
		</db:select>
	</flow>
	
	
	<!-- Flow Insert -->
	<flow name="flujo_INSERT">
	
		<http:listener config-ref="http_config_listener" allowedMethods="POST" path="insert">
			<http:response statusCode="200" reasonPhrase="Ok">
				<http:body >"Usuario Agregado"</http:body>
			</http:response>
		</http:listener>
		
		<db:insert config-ref="database_Oracle">
			<db:sql>INSERT INTO USUARIOS(CVE_USUARIO, NOMBRE, CORREO, CONTRASENA) VALUES (:cve_usuario, :nombre, :correo, :contrasena)</db:sql>
			<db:input-parameters>#[{'cve_usuario' : payload.CVE_USUARIO,'nombre' : payload.NOMBRE,'correo' : payload.CORREO, 'contrasena' : payload.CONTRASENA}]</db:input-parameters>
		</db:insert>
	</flow>
	
		<!-- Flow DELETE -->
	<flow name="flujo_DELETE">
		<http:listener config-ref="http_config_listener" allowedMethods="POST" path="delete">
			<http:response statusCode="200" reasonPhrase="Ok">
				<http:body >"Usuario Eliminado"</http:body>
			</http:response>
		</http:listener>
		
		<db:delete config-ref="database_Oracle">
			<db:sql>DELETE FROM USUARIOS WHERE CVE_USUARIO = :cve_usuario</db:sql>
			<db:input-parameters>#['cve_usuario' : payload.CVE_USUARIO]</db:input-parameters>
		</db:delete>
	</flow>
</mule>
